<script>
	import { geoStereographic, geoPath } from "d3-geo";
	import { feature } from "topojson-client";
	import { scaleLinear } from 'd3-scale';

	// CREATE PROJECTION FUNCTION
	let scale = 20000;
	let translate_x = 9300;
	let translate_y = 8720;
	$: projection = geoStereographic()
						.scale(scale)
						.center([50.5039,4.4699])
						.translate([translate_x, translate_y])
	$: path = geoPath().projection(projection);
  
	// GET BORDER DATA FOR MUNICIPALITIES
	const url_belgium = "https://gist.githubusercontent.com/jandot/ba7eff2e15a38c6f809ba5e8bd8b6977/raw/eb49ce8dd2604e558e10e15d9a3806f114744e80/belgium_municipalities_topojson.json"
	let municipality_borders = {features: []}
	fetch(url_belgium)
		.then(res => res.json())
		.then(data => municipality_borders = feature(data, data.objects.BE_municipalities))
	
	let border_data = []
	$: {
		municipality_borders.features.forEach((m,i) => {
			border_data[i] = {"niscode": +m.properties.CODE_INS,
			                  "ADMUNADU": m.properties.ADMUNADU,
							  "path": path(m.geometry)}
		})
	}

	// GET COVID DATA
	let raw_covid_data = [];
	fetch("covid_municipalities.json")
		.then(res => res.json())
		.then(data => raw_covid_data = data)
	let covid_data = {}
	let min_covid = 9999;
	let max_covid = 0;
	$: {
		raw_covid_data.forEach((d) => {
			let value = d["2020-04-15"] // Picking a random date
			covid_data[d.Niscode] = value
			if ( value < min_covid ) { min_covid = value }
			if ( value > max_covid ) { max_covid = value }
		})
	}
	
	// CREATE COLOUR SCALE
	$: colorScale = scaleLinear()
						.domain([min_covid, max_covid])
						.range(["white", "red"])
</script>
  
  <style>
	svg {
		background-color: whitesmoke;
		width: 960px;
		height: 450px;
	}
	path {
		stroke: #444444;
		stroke-width: 0.2px;
	}
  </style>

<svg>
	{#each border_data as border}
		<path d={border.path}
			style="fill: {colorScale(covid_data[border.niscode])}">
			<title>{border.ADMUNADU}: {covid_data[border.niscode]}</title>
		</path>
	{/each}
</svg>